{% extends 'pdf2word_conv/base.html' %}


{% block content %}

	<form enctype="multipart/form-data" method="post">
		{% csrf_token %}
			<div class="cover-container d-flex w-25 h-25 p-3 mx-auto flex-column">
				<p>
					<label class="form-label" for="id_file">Select PDF file</label>
					<input  accept="application/pdf" class="form-control" id="id_file" type="file" name="file" required="">
					<div id="emailHelp" class="form-text">PDF files without images only.</div>
				</p>
			</div>
		<div class="cover-container d-flex w-25 h-25 p-3 mx-auto flex-column">
			<button type="submit" class="btn btn-primary mt-2">Send file</button>
		</div>
	</form>
	
	{% if messages %}
		<ul class="messages">
	    {% for message in messages %}
		    <li
		    {% if message.tags %} class="{{ message.tags }} text-danger p-3"{% endif %}>{{ message }}
			</li>
	    {% endfor %}
		</ul>
	{% endif %}

{% endblock content %}