/*$body-bg: #FFFFFF;
$body-color: #111;
*/
/*.dark-box {
	background-color: #333333;
	color:  white;
}

.square-box {
	max-width: 600px;
	min-height: 600px;
	border: 1px solid #333;
}*/

@import "/home/hom/my_projects/converter/node_modules/bootstrap/scss/bootstrap";